.jumbotron {
  background-image: url(../images/ranga.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
background-attachment: scroll;
  text-align: center;
border-collapse: collapse;


}
.p01
{
font-style: bold;
font-family: Trebuchet MS;
color: #FFFFFF;
 padding: 5px;
 background-image: url(../images/ragg.jpg);
background-size: 300px 100px;;
  background-position: center;

}
